Welcoming

In [ ]:
print("Hello, Colab!")

Hello, Colab!

Integers/Numbers

In [ ]:
# Integers
age = 21
print(age + 5)       # 26

# Floats
price = 100
print(price * 2)     # 200

# Common operations: +, -, *, /, //, %, **
print(10 / 5)        # 2
print(10 // 3)       # 3 (floor division)
print(10 % 3)        # 1 (modulo)
print(2 ** 4)        # 16 (power)

26
200
2.0
3
1
16

String

In [ ]:
name = "Alice"
greeting = 'Hello'
full_greeting = greeting + " " + name   # Concatenation
print(full_greeting)                    # Hello Alice

# String methods
print(name.upper())      # ALICE
print(len(name))         # 5
print(name[0])           # A
print(name[1:4])         # lic (slicing)

# f-strings (formatted strings)
age = 30
print(f"{name} is {age} years old.")

Hello Alice
ALICE
5
A
lic
Alice is 30 years old.

List

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])          # apple
fruits.append("orange")   # Add to end
fruits.remove("banana")   # Remove by value
print(fruits)             # ['apple', 'cherry', 'orange']
print(len(fruits))        # 3
print(fruits[-1])         # orange (last element)

# List operations
numbers = [1, 2, 3]
numbers.extend([4, 5])    # [1,2,3,4,5]
squared = [x**2 for x in numbers]  # List comprehension

apple
['apple', 'cherry', 'orange']
3
orange

Dictionaries

In [ ]:
person = {
    "name": "Bob",
    "age": 40,
    "city": "New York"
}
print(person["name"])      # Bob
person["job"] = "Engineer" # Add new key-value pair
print(person.get("age"))   # 40 (safe access)
print(person.keys())       # dict_keys(['name','age','city','job'])
print(person.values())     # dict_values(['Bob',40,'New York','Engineer'])

# Loop through dictionary
for key, value in person.items():
    print(f"{key}: {value}")

Bob
40
dict_keys(['name', 'age', 'city', 'job'])
dict_values(['Bob', 40, 'New York', 'Engineer'])
name: Bob
age: 40
city: New York
job: Engineer

Operation

In [ ]:
# Arithmetic with variables
length = 10
width = 5
area = length * width
print(f"Area: {area}")

# List operations
scores = [88, 92, 79]
average = sum(scores) / len(scores)
print(f"Average score: {average}")

# Dictionary lookup
student = {"name": "Maria", "grades": [85, 90, 78]}
print(f"First grade: {student['grades'][0]}")

Area: 50
Average score: 86.33333333333333
First grade: 85

Functions

In [ ]:
def greet(name):
    """Return a greeting message."""
    return f"Hello, {name}!"

# Call the function
print(greet("Alex"))   # Hello, Alex!

def add_numbers(a, b):
    return a + b

result = add_numbers(7, 3)
print(result)          # 10

# Function with default argument
def power(base, exponent=2):
    return base ** exponent

print(power(5))        # 25 (5^2)
print(power(5, 3))     # 125 (5^3)

Hello, Alex!
10
25
125